html, body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	height: 100%;
}
/* Ссылки внутри выпадающего списка */
.menu a {
    color: black;
    text-decoration: none;
    display: block;
    background-color: #fff;
    padding: 10px;
}

.icon2:hover .menu {
    display: block;
}

/* Показывать выпадающее меню при наведении курсора мыши */
.icon2:hover .menu {
    display: block;
}
/* Содержимое выпадающего списка (скрыто по умолчанию) */
.menu {
    display: none;
    position: absolute;
    min-width: 60px;
    z-index: 1;
    margin-left: 0em;
    top: 12em;
    padding: 1em 0 0 0.5em;
    border: 1px solid #000;
    background: #fff;
}
#page-wrapper {
	position: relative;
	z-index: 1; /* Should be greater than menu z-index */
	padding: 10px 20px;
	background: #fff;
	height: 100%;
}

/* #page-wrapper h1 {
	margin: 0;
} */

#cool-menu-toggle {
	position: absolute;
    top: -46px;
    right: 10px;
    padding: 5px;
    border: 1px solid #333;
    border-radius: 3px;
}
#page-wrapper a{
	text-decoration: none;
    color: black; 
}
#cool-menu {
	display: none;
	height: 100%;
	position: absolute;
	top: 32px;
	right: 0;

	width: 190px;
	padding: 10px 12px;
	margin: 0;

	list-style: none;
	background: #333;
	z-index: 10; /* Should be lower than menu z-index */
}

#cool-menu a {
	display: block;
	color: #fff;
	padding: 5px 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

/* Animations */

#page-wrapper, #cool-menu {
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}

.animating #cool-menu, .menu-visible #cool-menu {
	display: block;
}

.animating #page-wrapper {
	transition: transform .25s ease-in-out; /* 250ms transition to page */
	-webkit-transition: -webkit-transform .25s ease-in-out;
}

.animating.left #page-wrapper {
	transform: translate3d(240px, 0, 0 ); /* move page to left */
	-webkit-transform: translate3d(-240px, 0, 0);
}

.animating.right #page-wrapper {
	transform: translate3d(240px, 0, 0); /* move page to right */
	-webkit-transform: translate3d(240px, 0, 0);
}

/* .menu-visible #page-wrapper {
	right: 240px;
} */